snippet aut
"""
Author   : Elçom Junior
Github   : ElcomJ
Linkedin : Elçom Junior
"""
endsnippet

snippet mlimport
import pandas as pd
import matplotlib as plt
import numpy as np
endsnippet

snippet for
for x > y:
	print(x)
endsnippet

snippet ifelse:
if x > y:
	print(x)
else:
	print(y)
endsnippet
