snippet aut
"""
Author   : Elçom Junior
Github   : ElcomJ
Linkedin : Elçom Junior
"""

snippet mlfull
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

snippet mlmath
import numpy as np
import pandas as pd

snippet mtgraph
import matplotlib.pyplot as plt
import seaborn as sns
