snippet link

[Link Here](http://site here)

snippet img

![image info](image PATH)

snippet list

* Item 1
* Item 2
		* Item 1
		* Item 2

snippet table

| name1 | name2 | name3 |
| :---: | :---: | :---: |
| it 1  | it 2  | it 3  |
| it 4  | it 5  | it 6  |

snippet ordlist

1. Item1
2. Item2
3. Item3
4. Item4
5. Item5
